
#triangle-topleft {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 3vw solid rgb(64, 143, 62);
  border-right: 3vw solid transparent;
}

#triangle-bottomright {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 3vw solid rgb(64, 143, 62);
  border-left: 3vw solid transparent;
}

.title {
  /* padding-top: 40px; */
}

.title span{
  position: relative;
  padding: 20px;  
  font-size: 4vw;
  font-weight: 900;
}

.content {
  padding-bottom: 50px;
  font-size: 3.5vh;
  font-weight: 100;
  color: rgb(78, 78, 78);
}

.content p {
  line-height: 2.2rem;
}